:root{
--font-14: 400 0.875rem/1.6 "Sora", sans-serif;
--font-16: 400 1rem/1.6  "Sora", sans-serif;
--font-17: 400 1.063rem/1.6  "Sora", sans-serif;
--font-18: 400 1.125rem/1.6  "Sora", sans-serif;
--font-20: 400 1.25rem/1.4 "Sora", sans-serif;
--font-22: 400 1.375rem/1.4  "Sora", sans-serif;
--font-24: 400 1.5rem/1.4  "Sora", sans-serif;
--font-28: 400 1.75rem/1.4  "Sora", sans-serif;
--font-32: 400 2rem/1.3  "Sora", sans-serif;
--font-40: 600 2.5rem/1.3  "Sora", sans-serif;
--font-48: 600 3rem/1.3  "Sora", sans-serif;
}


.text-14{
font: var(--font-14);
}

.text-16{
font: var(--font-16);
}

.text-17{
font: var(--font-17);
}

.text-18{
font: var(--font-18);
} 

.text-20{
font: var(--font-20);
}

.text-22{
font: var(--font-22);
} 

.text-24{
font: var(--font-24);
}

.text-28{
font: var(--font-28);
}

.text-32{
font: var(--font-32);
}

.text-40{
font: var(--font-40)
}

.text-48{
font: var(--font-48);
}











